<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Diploma.Properties.CalculationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Diploma.Properties.SemesterExport" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Diploma.Properties.CalculationSetiings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Diploma.Properties.IndPlanExport" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Diploma.Properties.OldImport" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Diploma.Properties.Import" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Files\Projects\Study\Диплом\PO_DOC\Diploma\bin\Debug\Database\database.accdb" providerName="JetEntityFrameworkProvider" />-->
    <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\database.accdb" providerName="JetEntityFrameworkProvider" /> 
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Files\Projects\Study\diploma\Diploma\sqlserverdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="JetEntityFrameworkProvider" type="JetEntityFrameworkProvider.JetProviderServices, JetEntityFrameworkProvider" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="JetEntityFrameworkProvider" />
      <add invariant="JetEntityFrameworkProvider" name="Jet Entity Framework Provider" description="Jet Entity Framework Provider" type="JetEntityFrameworkProvider.JetProviderFactory, JetEntityFrameworkProvider" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>    
  <userSettings>
    <Diploma.Properties.CalculationSettings>
      <setting name="LectureCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LabCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PracticeCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KonsCost" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ExamControlCost" serializeAs="String">
        <value>0.33</value>
      </setting>
      <setting name="KRCost" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="KPCost" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ZachCost" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="RGR" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="UchPr" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PrPr" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PreddipPr" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KzZaoch" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="GEK" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="GAK" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="GAKPred" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DPruk" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="DopuskVKR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RetzVKR" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DPRetz" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MAGRuk" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MagRetz" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RukKaf" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NIIR" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="NIIRRukMag" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ASPpractice" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NIIRRukAsp" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DopuskDissMag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NormocontrolMag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DopuskBak" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="NormocontrolBak" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="AspRuk" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ExamConsCost" serializeAs="String">
        <value>2</value>
      </setting>
    </Diploma.Properties.CalculationSettings>
    <Diploma.Properties.SemesterExport>
      <setting name="FITStartRow" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="MSFStartRow" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="IDPOStartRow" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="MAGStartRow" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="IndexColumn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GroupColumn" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CourceColumn" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DisciplineColumn" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DisciplineCostColumn" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LecFactColumn" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="StudentsColumn" serializeAs="String">
        <value>9</value>
      </setting>
    </Diploma.Properties.SemesterExport>
    <Diploma.Properties.CalculationSetiings>
      <setting name="LectureCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LabCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PracticeCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KonsCost" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="EkzCost" serializeAs="String">
        <value>0.33</value>
      </setting>
      <setting name="KRCost" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="KPCost" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ZachCost" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="RGR" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="UchPr" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="PrPr" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="PreddipPr" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="KzZaoch" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="GEK" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="GAK" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="GAKPred" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DPruk" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DopuskVKR" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="RetzVKR" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DPRetz" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="MAGRuk" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="MagRetz" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="RukKaf" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="NIIR" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="NIIRRukMag" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="ASPpractice" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="NIIRRukAsp" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DopuskDissMag" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="NormocontrolMag" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DopuskBak" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="NormocontrolBak" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="AspRuk" serializeAs="String">
        <value>50</value>
      </setting>
    </Diploma.Properties.CalculationSetiings>
    <Diploma.Properties.IndPlanExport>
      <setting name="DisciplinesStartRow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="YearsDescriptionRowCell" serializeAs="String">
        <value>26, 6</value>
      </setting>
      <setting name="TeacherFIORowCell" serializeAs="String">
        <value>29, 8</value>
      </setting>
      <setting name="DisciplineNameColumn" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DisciplineDescrColumn" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="StudentsCountColumn" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DisciplineSettingsStartColumn" serializeAs="String">
        <value>9</value>
      </setting>
    </Diploma.Properties.IndPlanExport>
    <Diploma.Properties.OldImport>
      <setting name="StartRow" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Discipline" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Lectures" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Practicies" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Labs" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="KR" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="KP" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="EKZ" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="ZACH" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="Other" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="Select" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DS" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Kontr" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="Cons" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="Semester" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CountOfStudents" serializeAs="String">
        <value>2</value>
      </setting>
    </Diploma.Properties.OldImport>
    <Diploma.Properties.Import>
      <setting name="StartRow" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Discipline" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Lectures" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Practicies" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Labs" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="KR" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KP" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="EKZ" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ZACH" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="Other" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="Select" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DS" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Kontr" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="Cons" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Pract" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="Department" serializeAs="String">
        <value>18</value>
      </setting>
    </Diploma.Properties.Import>
  </userSettings>
</configuration>
